*{
  padding: 0;
  margin: 0;
  box-shadow: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navBar{
    background: linear-gradient(270deg, rgb(17, 38, 161), rgb(22, 21, 85));
    width: 100%;
    min-height: 12vh;
}

.navBar ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    width: 80%;
    height: 12vh;
    margin: auto;
    list-style: none;
}

.navBar ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.8em;
    text-decoration: none;
}

.navBar ul li a:hover{
  color: bisque;
}

.currentPage{
  background-color: #1167a5;
  text-decoration: underline;
  padding: 8px;
  border-radius: 8px;
}